:host {
  display: grid;
  position: relative;
  background-color:red;
  width: min-content;
}

video {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.control {
  cursor: pointer;
  z-index: 5;
}

:host(:not(:hover)) .control {
  visibility: hidden;
}

.play-button {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}
